@model Solicitacao
@using System.Linq
@{
    Layout = null;
    List<TipoSituacaoProcessoEnum> ProximoMovimento = HtmlWorkFlowHelper.ProximoMovimento(ViewData.Model, WFTipoAcao.Cancelar); 

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Cancelar</h3>
</div>

@using (Html.BeginForm("Cancelar", "Solicitacao", new RouteValueDictionary(new { Id = Html.ValueFor(m=>m.Id) }), FormMethod.Post))
{
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-2">
                @Html.FwShortLabelFor(m => m.Id)
                @Html.FwTextBoxFor(m => m.Id, true)
            </div>
            <div class="form-group col-md-2">
                @Html.FwLabelFor(m => m.CodSeguradora)
                @Html.FwTextBoxFor(m => m.CodSeguradora, true)
            </div>
            <div class="form-group col-md-8">
                @Html.FwLabelFor(m => m.Produto.NomeProduto)
                @Html.FwTextBoxFor(m => m.Produto.NomeProduto, true)
            </div>
    
            <div class="form-group col-md-12 ">
                @Html.Label("Mensagem")
                @Html.TextArea("txtMensagemMovimento", new { @class = "form-control", rows = "5" })
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <script>

    </script>
}