@model IEnumerable<Solicitacao>
@{
    ViewBag.Title = "Todos Rotas";
}

@using (Html.BeginPageHeading("Lista", @Html.ActionLink("Início", "Inicio", "Home")))
{
    <input type="button" class="btn btn-primary" id="btnAbrir" value="Abrir" />
}

<div class="wrapper wrapper-content">
    <div class="row">
        @using (Html.BeginBox(maximizavel: true))
            {

            <div id="modalFiltrar" class="modal filtro fade" role="dialog" style="">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Filtrar
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-1" for="email">Nº Cia:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Valor 1">
                                    </div>
                                    <div class="col-sm-1">
                                        <select class="form-control input-sm">
                                            <option value="value">E</option>
                                            <option value="value">Ou</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Valor 2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" for="email">Tipo:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Valor 1">
                                    </div>
                                    <div class="col-sm-1">
                                        <select class="form-control input-sm">
                                            <option value="value">E</option>
                                            <option value="value">Ou</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="email" placeholder="Valor 2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" for="email">Contato:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="E/Ou">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1" for="email">Telefone:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="E/Ou">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1" for="email">Cliente:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="E/Ou">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Critério 1">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  input-sm" id="email" placeholder="Valor 2">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="table-responsive">
                        <table id="tbGride" class="grid-dataTables display table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="w10px">&nbsp;</th>
                                    <th class="w50px">@Html.DisplayShortNameFor(Model, m => m.Id) </th>
                                    <th class="w50px">@Html.DisplayNameFor(m => m.CodSeguradora)</th>
                                    <th class="">@Html.DisplayNameFor(m => m.Cliente.NomeRazaoSocial)</th>
                                    <th class="w100px">@Html.DisplayNameFor(m => m.TpSituacao)</th>
                                    <th class="w120px">Vistoriador</th>
                                    <th class="w100px">Km Previsto</th>
                                    <th class="w100px">Km Realizado</th>
                                    <th class="w80px">Agenda</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var enviadoVistoria = item.MovimentacaoProcesso.LastOrDefault(m => m.TipoSituacaoProcesso == TipoSituacaoProcessoEnum.EnviadoParaVistoria);
                                    var dthAgendamento = "";

                                    if (item.Agendamento.Any())
                                    {
                                        var agendaRealizada = item.Agendamento.LastOrDefault(w => w.IndCancelado == false && w.TipoAgendamento != TipoAgendamentoEnum.Comunicar);
                                        if (agendaRealizada != null)
                                        {
                                            dthAgendamento = agendaRealizada.DthAgendamento.FormatoDataHora();

                                        }
                                    }

                                    <tr id="@item.Id">
                                        <td></td>
                                        <td class="text-right">@item.Id </td>
                                        <td class="text-right">@item.CodSeguradora</td>
                                        <td class="">@HtmlGridHelper.TextoSubTexto(item.Cliente.NomeRazaoSocial, "{0} - {1}".Formata(item.Endereco.NomeMunicipio, item.Endereco.SiglaUf))</td>
                                        <td class="text-center">@HtmlGridHelper.SituacaoProcesso(item.TpSituacao)  </td>
                                        <td>@(item.IdVistoriador.HasValue ? item.Vistoriador.Operador.NomeOperador : string.Empty)</td>
                                        <td class="text-right">@item.DeslocamentoPrevisto</td>
                                        <td class="text-right">@item.DeslocamentoRealizado</td>
                                        <td class="text-center">
                                            @dthAgendamento
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
        }

    </div>
</div>
@section Styles {
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        var gride;
        $(document).ready(function () {
 
            gride = $('#tbGride').Gride({
                bSelecionavel: true,
                bfiltroColuna: true, 
                ordering: true, 
                columns:[
                     { data: "0" },
                     { data: "Id", className: "text-right" },
                     { data: "CodSeguradora", className: "text-right" },
                     { data: "NomeRazaoSocial", className: "" },
                     { data: "TpSituacao", className: "text-center" },
                     { data: "NomeOperador", className: "" },
                     { data: "DeslocamentoPrevisto", className: "text-right" },
                     { data: "DeslocamentoRealizado", className: "text-right" },
                     { data: "DthAgendamento", className: "text-center", type: 'date-euro' }
                ]
            });


            $("#btnAbrir").click(function () {
                gride.abrirRegistroSelecionado("/Solicitacao/Editar/");
            });

        });
    </script>
}

