@inject Differencial.Domain.Contracts.Util.IConfiguracaoAplicativo ConfiguracaoAplicativo
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assertiva - Inspeções de Risco</title>
    <partial name="_StylePartial" />
    <style>
        .gray-bg {
            background-color: #edeef0;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="middle-box loginscreen  animated fadeInDown">
        <div class="text-center">
            <div>
                <img src="~/Images/identidade_cliente/logo_180_180-min.png" />
                <img src="~/Images/identidade_cliente/identidade-logo-horiz-min.png" />
            </div>
            <p>
                seja bem vindo
            </p>
            <p></p>

            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "m-t", @role = "form" }))
            {
                @Html.Hidden("ReturnUrl", ViewData["ReturnUrl"])
                <div class="form-group">
                    <input type="text" class="form-control" name="usuario" placeholder="E-mail de acesso" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="senha" placeholder="Senha" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="@Url.Action("EsqueceuSenha", "Home")"><small>Esqueceu a  Senha ?</small></a>
            }
            <p class="m-t"></p>
        </div>
        <div class="m-t">
            <div class="col-md-12 no-margins no-padding">
                <small>Todos os direitos reservados &copy; @DateTime.Now.Date.Year</small>
                <small>@(ConfiguracaoAplicativo.AppVersao.IsNullOrEmpty() ? string.Empty : $"{ConfiguracaoAplicativo.AppVersao}v") </small>
                <!-- Badge do GitHub Actions -->
                
                 
            </div>
           
        </div>

    </div>
    <partial name="Dialog/_ModalMensagem" />
    <partial name="_ScriptsjQueryBootstrapPartial" />

    <script>

        $(document).ready(function () {

            if (($(".validation-summary-errors").length > 0 && $(".validation-summary-errors li:eq(0)").css("display") != "none")
                || (sTrim($("#myModalMessage .modal-body").text()).length > 0)) {

                setTimeout(function () {
                    $("#myModalMessage").modal("show");
                }, 100);

            }

            $('#myModalMessage').on('hidden.bs.modal', function () {
                $("#myModalMessage .modal-body").html("")

            });
        });

        function sTrim(str) {
            return str.replace(/^\s+/, '').replace(/\s+$/, '');
        }
    </script>

</body>
</html>
